<%- include('partials/header') -%>
  <div >
    <%- include('partials/navbar') -%>
    
    <div class="container w-50" >
      <% let user%>
        <div id = 'feedDiv' class="row">
          <ul class="list-unstyled">
            <% for(var i=0; i<posts.length; i++) {%>
              <%user=users.find(x=> x.id == posts[i].user)%>
                <li class="feedPost col-6 justify-content-between mt-2">
                  <p class='fw-bold'>
                    <a href="/getUserProfile/<%=user._id%>">
                      <%= user.userName%>
                    </a>
                  </p>
                  <a href="/post/<%= posts[i]._id%>">
                    <img class="img-fluid h-75 d-block img-thumbnail" src="<%= posts[i].image%>">
                  </a>
                  <div class='d-flex my-2'>
                    <span class='me-2'>
                      <%=posts[i].likes%>
                    </span>
                    <form action="/post/likeFeedPost/<%=posts[i]._id%>?_method=PUT" method='POST'>
                      <button class='fa fa-heart btn-primary ml-3'></button>
                    </form>
                  </div>
                  <div class='d-flex'>
                    <p class='fw-bold'><a class='me-2' href="/getUserProfile/<%=user._id%>">
                        <%= user.userName%>
                      </a></p>
                    <p class='d-block text-truncate'>
                      <%= posts[i].caption%>
                    </p>
                  </div>
                </li>
                <% } %>
          </ul>
        </div>
    </div>
  </div>
  
<%- include('partials/footer') -%>