<%- include('partials/header') -%>
<div class = 'row'>
  <div class = 'col-6 w-25'>
      <%- include('partials/navbar') -%>
  </div>
 
  <div class="col-6 w-75">
    <div class="mt-5">
        <div class = 'ms-5 d-flex justify-content-start gap-3'>
            <div class =  'ps-5 mx-5 '>
              <!-- <a href="/addProfilePicture"> -->
              <button class = 'btn' data-bs-toggle="modal" data-bs-target="#addProfilePicture">
                <img class = 'img-fluid d-block' src="<%=user.profilePicture%>" alt="">
              </button>
              <!-- </a> -->
            </div>
            <div class = 'align-self-center'>
              <p><strong>User Name</strong>: <%= user.userName %></p>
                <div class = 'd-flex justify-content-center'>
                  <% if (loggedUser){ %>
                    <button class="btn btn-primary btn-lg fa fa-plus" data-bs-toggle="modal" data-bs-target="#createPost"></button>
                  <%}%>
              </div>
            </div>
        </div>
        <div>
          <ul class="row list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="col-6  mt-5">
              <a href="/post/<%= posts[i]._id%>">
                <img class="img-fluid w-75 d-block img-thumbnail mx-auto" src="<%= posts[i].image%>">
              </a>
            </li>
          <% } %>
          </ul>
        </div>  
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class='lead'>Title</p>
        <form action="/post/createPost" enctype="multipart/form-data" method='POST'>
          <div class='mb-3'>
            <label for="title" class='col-form-label'>Title</label>
            <input class='form-control' type="text" name='title' id='title'>
          </div>
          <div class='mb-3'>
            <label for="caption" class='col-form-label'>Caption</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addProfilePicture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Profile Picture</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/addProfilePicture?_method=PUT" enctype="multipart/form-data" method='POST'>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>